<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Vue天气查询</title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
    <link href="css/reset.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrap" id="app">
    <div class="search_form">
        <div class="logo">
            <img alt="天气查询" src="img/logo.png">
        </div>
        <div class="form_group">
            <input @keyup.enter="getWeather" class="input_txt" placeholder="请输入要查询的城市"
                   type="text" v-model="city">
            <button @click="getWeather" class="input_sub">
                搜索
            </button>
        </div>
        <div class="hotkey">
            <a @click="changeCity(city)" href="javascript:;" v-for="city in defaultCityList">{{city}}</a>
        </div>
    </div>
    <ul class="weather_list">
        <li v-for="weather in weatherList">
            <div class="info_type">
                <span class="iconfont">{{weather.type}}</span>
                <div class="info_temp">
                    <b>{{weather.low}}</b>
                    ~
                    <b>{{weather.high}}</b>
                </div>
                <div class="info_date">
                        <span class="info_date">
                            {{weather.date}}
                        </span>
                </div>
            </div>
            {{weather}}
        </li>
    </ul>
</div>

<script src="js/main.js"></script>
</body>
</html>